# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node / Next / Bun
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.turbo/

# Python / UV
backend/.venv/
**/__pycache__/
*.pyc
backend/.pytest_cache/
backend/*.egg-info/
backend/.mypy_cache/
backend/.ruff_cache/

# Env
.env
.env.*

# IDE
.vscode/
.idea/
