aioredis
asyncpg
chromadb
fastapi
httpx
loguru
passlib[bcrypt]
pydantic[email]
pydantic-settings
psycopg2-binary
python-dotenv
qdrant-client>=1.7.0
sentence-transformers
sqlalchemy>=2
tenacity
uvicorn
boto3
